
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#contact {
	padding-top: 2rem;
	padding-bottom: 2rem;

	p {
		font-size: 0.875rem;
		color: #9f9f9f;
	}
}

#contact-info {
	padding: 3rem;
	border-radius: 2rem;

	p {
		color: #8fc1df;
	}
}

