
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/

#page-title {
	.title {
		font-family: $heading-font;
		color: $white;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;
	}

	p {
		font-size: 1rem;
		line-height: 1.5;
		color: #333333;
	}

	a {
		font-family: $body-font;
		font-size: 0.75rem;
		font-weight: 400;
		padding: 0.85rem 1.5rem;
	}
}

.breadcrumb {
	i {
		font-size: 0.8rem;
		color: $theme-color;
	}

	li {
		a {
			font-family: $heading-font;
			font-size: 0.875rem;
			font-weight: 500;
			text-decoration: none;
			color: #969696;

			&.active {
				color: $theme-color;
			}
		}
	}
}