
/* ----------------------------------------------------------------

	team.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Team
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for team pages. Thanks!
-----------------------------------------------------------------*/

.team {
    margin: 1rem;

    .team-image {
        img {
            width: 100%;
            border-radius: 2rem;
        }
    }

    .team-name {
        font-weight: 500;
    }
}